.wrapper
  #leaderboardHeaderHolder
    #leaderboardHeader Add new #keepwinging competitor
    .registerForm
      form(method="post", enctype="multipart/form-data", action="/users")
        .field-label Competitor's Name
        input#name.thisField(name="name")
        .field-label Team Name
        input#team.thisField(name="team")
        .field-label RFID Number
        input#rfidnum.thisField(name="rfid", value=rfid)
        input#uploadPhoto(type="file", name="photo")
        input.button(type="submit")
#footer
  .wrapper
    #kwLogo
    .dataPoint
      .dataTitle Total Wing Consumption:
      #total.dataNumber= total
    .dataPoint
      .dataTitle Average Wings Per Hour:
      .dataNumber